@charset "UTF-8";

/**** Allgemein ***/
body {
	font-family: Tahoma, Geneva, sans-serif;
    background:  hsla(0,0%,0%,0.05);		/* HLS Farbraum a = Alpha (Pos in °, Sättigung, Helligkeit, Opacität) */
    font-size:   1em;
}

br {
	clear:				both;
}

img {
	height:				100%;
	width:				100%;
}

img.logo {
	max-width:  		427px;
	max-height: 		209px;
}

/**** Container ****/
nav, header, footer, main, section, aside, article, main, div {
	box-sizing: 		border-box;			/* setzt die Box auf die angegebe Größe (kein spaceing mehr) */
	-moz-box-sizing: 	border-box;
	-webkit-box-sizing: border-box;
}

main {
	max-width:			960px;				/* maximale Breite des Containers in Pixel */
	background:			#FFF;				/* Hindergrundfarbe in Hex-Format */
	box-shadow:         #099 0 2px 5px;		/* [Schattenfarbe] [Pos X] [Pos Y] [Blur] [Größe] */
	-moz-box-shadow:    #099 0 2px 5px;
	-webkit-box-shadow: #099 0 2px 5px;
	margin:				0 auto;				/* zentriert den Container*/
	padding:			10px;				/* Abstand zw. boxborder und content (innen) in Pixel */
	border-radius:      3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

header {
	text-align:			center;
}

section#thanks {
	background: 		#FFF;
	box-shadow:         #099 0 2px 5px;
	-moz-box-shadow:    #099 0 2px 5px;
	-webkit-box-shadow: #099 0 2px 5px;
	margin: 			2% auto 0 auto;
	padding:			10px;
	font-size: 			1em;
	max-width: 			600px;
	text-align: 		center;
	border-radius:      3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/**** Formelement ****/
textarea {
	display:			block;						/* Element wird als Block-Element dargestellt */
	min-height:			200px;						/* minimale Höhe in Pixel */
	height:				auto;						/* Box passt sich in der Höhe dem Inhalt an wenn > 200px */
	margin:				0 auto;						/* zentriert die Box */
	width:				98%;
}

/**** Media Query für Smartphones ****/
@media screen and (max-device-width: 980px){
	input.regular-radio {							/* Anpassung der Radiobutton, da in mobilen Webkit-Browsern zu klein */
		-webkit-appearance:	none;					/* löscht die Browserstandarteinstellungen für die Radio-Button */
		background-color:	#fafafa;
		border:				1px solid #cacece;
	  		box-shadow:			  0 1px 2px 		 rgba(0,0,0,0.05), 
							inset 0 -15px 10px -12px rgba(0,0,0,0.05);
		border-radius:		50px;
		display:			inline-block;
		position:			relative;
		padding:			9px;
	}
	
	input.regular-radio:checked:after {
		content:			' ';
		width:				12px;
		height:				12px;
		border-radius:		50px;
		position:			absolute;
		top:				3px;
		background:			#99a1a7;
		box-shadow:			inset 0 0 10px rgba(0,0,0,0.3);
		text-shadow:		0;
		left:				3px;
		font-size:			32px;
	}
	
	input.regular-radio:checked {
		background-color:	#e9ecee;
		color:				#99a1a7;
		border:				1px solid #adb8c0;
		box-shadow:				  0 1px 2px 		 rgba(0,0,0,0.05), 
							inset 0 -15px 10px -12px rgba(0,0,0,0.05), 
							inset 15px 10px -12px    rgba(255,255,255,0.1), 
							inset 0 0 10px           rgba(0,0,0,0.1);
	}
	
	input.regular-radio:active,input.regular-radio:checked:active {
		box-shadow:				  0 1px 2px rgba(0,0,0,0.05), 
							inset 0 1px 3px rgba(0,0,0,0.1);
	}
	
	input.big-radio {
		padding:			16px;
	}
	
	input.big-radio:checked:after {
		width:				24px;
		height:				24px;
		left:				4px;
		top:				4px;
	}
}
